header {
    padding: 20px 0;
}

header h2 {
    font-weight: 300;
    font-size: 30px;
    margin: 0;
    margin-bottom: 10px;
}

header h4 {
    margin: 0;
    margin-top: 0px;
    color: rgb(2, 162, 157);
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    header {
        padding: 36px 0;
    }

    header h2 {
        font-weight: 700;
        font-size: 32px;
        margin-bottom: 5px;
    }

    header h4 {
        font-size: 21px;
        font-weight: 400;
    }
}